<!DOCTYPE html>
<html lang="en">
<head>
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <script type="text/javascript">
        window.onload = function () {
            var dps = [{x: 1, y: 10}, {x: 2, y: 20}, {x: 3, y: 6}, {x: 4, y: 10}, {x: 5, y: 10}];   //dataPoints. 
            
            var chart = new CanvasJS.Chart("chartContainer",{
                title :{
                    text: "Monthly Statistics"
                },
                axisX: {						
                    title: "Days"
                },
                axisY: {						
                    title: "Steps"
        },
        data: [{
            type: "line",
            dataPoints : dps
        }]
    });
    
    chart.render();
}
</script>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <form action="/dashboard/apply">
            <label for="steps">Enter number of steps...</label> <br>
            <input type="number" name="steps" placeholder="6000"><br>
            <label for="calories">Enter number of calories</label><br>
            <input type="number" name="calories" placeholder="900" ><br>
            <label for="minutes">Minutes of workout</label><br>
            <input type="number" name='workout_time' placeholder="90">
            <input type="submit">
            <div id="chartContainer" style="height: 300px; width: 100%;">
            </div>
        </form>
TODO PROGRESS BAR    
        <table class = 'table table striped'>
            <tr>
            <th>User</th>
            <th>Steps</th>
            <th>Calories</th>
            <th>Workout_Time</th>
            <div>
                {% for ss in stats %}
                <tr>
                    <td>{{ss["username"]}}</td>
                    <td>{{ss['steps']}}</td>
                    <td>{{ss['calories']}}</td>
                    <td>{{ss['workout_time']}}</td>
                </tr>
                {% endfor %}
            </div>
        </table>
    </div>
    {{login}}
</body>
</html>